# Initialisation de Spark

In [1]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("Notebook").setMaster("local")
sc = SparkContext(conf=conf)

23/10/29 12:12:09 WARN Utils: Your hostname, sal9000 resolves to a loopback address: 127.0.1.1; using 192.168.1.201 instead (on interface eno2)
23/10/29 12:12:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/29 12:12:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/29 12:12:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# Une fonction pour simplifier l'accès aux données

In [31]:
def extract_field(s: str, field_number: int, sep: str = ';') -> str:
    fields = s.split(sep)
    return fields[field_number] if (field_number < len(fields)) else ""

In [3]:
print(extract_field("2;CASSIOPEE;2009;33;3", 0))
print(extract_field("2;CASSIOPEE;2009;33;3", 1))
print(extract_field("2;CASSIOPEE;2009;33;3", 2))
print(extract_field("2;CASSIOPEE;2009;33;3", 3))
print(extract_field("2;CASSIOPEE;2009;33;3", 4))
print(extract_field("2;CASSIOPEE;2009;33;3", 5))

2
CASSIOPEE
2009
33
3

# Charger les données
1. Créer le RDD `lignes` à partir du répertoire `prenoms_sample.txt`

In [4]:
lignes = sc.textFile("prenoms_sample.txt")
print(lignes.take(10))

['1;_PRENOMS_RARES;1909;44;7', '1;_PRENOMS_RARES;1925;64;19', '1;_PRENOMS_RARES;1926;44;21', '1;_PRENOMS_RARES;1962;66;15', '1;_PRENOMS_RARES;1997;40;15', '1;_PRENOMS_RARES;2000;46;13', '1;_PRENOMS_RARES;2016;973;1463', '1;ABDALLAH;2007;76;3', '1;ABDELAZIZ;1978;75;3', '1;ABDELHAFID;1964;42;4']

# Transformer les lignes en prénoms
1. En appliquant la méthode `map`, créer le RDD `prenoms` à partir de `lignes`

In [18]:
prenoms = lignes.map(lambda l: (
    extract_field(l, 0)[0],
    extract_field(l, 1),
    int(extract_field(l, 2)),
    int(extract_field(l, 3)),
    int(extract_field(l, 4))
))
for n in prenoms.take(10):
    print(n)

('1', '_PRENOMS_RARES', 1909, 44, 7)
('1', '_PRENOMS_RARES', 1925, 64, 19)
('1', '_PRENOMS_RARES', 1926, 44, 21)
('1', '_PRENOMS_RARES', 1962, 66, 15)
('1', '_PRENOMS_RARES', 1997, 40, 15)
('1', '_PRENOMS_RARES', 2000, 46, 13)
('1', '_PRENOMS_RARES', 2016, 973, 1463)
('1', 'ABDALLAH', 2007, 76, 3)
('1', 'ABDELAZIZ', 1978, 75, 3)
('1', 'ABDELHAFID', 1964, 42, 4)

# Interroger les données
La documentation des méthodes d'un RDD est disponible ([RDD](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.RDD.html)).

1. Rappeler ce que sont les *transformations* et les *actions*
1. Donner, pour chaque prénom, son nombre d'occurences (`map` et `reduceByKey`)

In [19]:
#TODO

('ABDELAZIZ', 3)
('ABDELMALIK', 3)
('ADAM', 10)
('ADRIEN', 184)
('ALAN', 7)
('ALASSANE', 3)
('ALEX', 69)
('ALEXIS', 84)
('ALFRED', 37)
('ALY', 3)

1. Donner le nombre total de naissances avec un prénom féminin (`filter`, `map`, `reduce` ou `sum`)

In [20]:
#TODO

40379

1. Donner l'effectif maximal et minimal par prénom (`map`, `aggregateByKey`)

In [24]:
#TODO

('ABDELAZIZ', (3, 3))
('ABDELMALIK', (3, 3))
('ADAM', (3, 7))
('ADRIEN', (4, 71))
('ALAN', (3, 4))
('ALASSANE', (3, 3))
('ALEX', (3, 49))
('ALEXIS', (5, 42))
('ALFRED', (3, 17))
('ALY', (3, 3))

1. Sur le modèle des prénoms, charger les données des départements
1. Donner, pour chaque nom de département, le prénom le plus fréquent depuis l'année 2000

In [42]:
#TODO

('01', 84, '01053', 5, 'AIN', 'Ain', 'Ain')
('02', 32, '02408', 5, 'AISNE', 'Aisne', 'Aisne')
('03', 84, '03190', 5, 'ALLIER', 'Allier', 'Allier')
('04', 93, '04070', 4, 'ALPES DE HAUTE PROVENCE', 'Alpes-de-Haute-Provence', 'Alpes-de-Haute-Provence')
('05', 93, '05061', 4, 'HAUTES ALPES', 'Hautes-Alpes', 'Hautes-Alpes')
('06', 93, '06088', 4, 'ALPES MARITIMES', 'Alpes-Maritimes', 'Alpes-Maritimes')
('07', 84, '07186', 5, 'ARDECHE', 'Ardèche', 'Ardèche')
('08', 44, '08105', 4, 'ARDENNES', 'Ardennes', 'Ardennes')
('09', 76, '09122', 5, 'ARIEGE', 'Ariège', 'Ariège')
('10', 44, '10387', 5, 'AUBE', 'Aube', 'Aube')
('11', 76, '11069', 5, 'AUDE', 'Aude', 'Aude')
('12', 76, '12202', 5, 'AVEYRON', 'Aveyron', 'Aveyron')
('13', 93, '13055', 4, 'BOUCHES DU RHONE', 'Bouches-du-Rhône', 'Bouches-du-Rhône')
('14', 28, '14118', 2, 'CALVADOS', 'Calvados', 'Calvados')
('15', 84, '15014', 2, 'CANTAL', 'Cantal', 'Cantal')
('16', 75, '16015', 3, 'CHARENTE', 'Charente', 'Charente')
('17', 75, '17300', 3, 'CHARENTE MARITIME', 'Charente-Maritime', 'Charente-Maritime')
('18', 24, '18033', 2, 'CHER', 'Cher', 'Cher')
('19', 75, '19272', 3, 'CORREZE', 'Corrèze', 'Corrèze')
('21', 27, '21231', 3, 'COTE D OR', "Côte-d'Or", "Côte-d'Or")
('22', 53, '22278', 4, 'COTES D ARMOR', "Côtes-d'Armor", "Côtes-d'Armor")
('23', 75, '23096', 3, 'CREUSE', 'Creuse', 'Creuse')
('24', 75, '24322', 3, 'DORDOGNE', 'Dordogne', 'Dordogne')
('25', 27, '25056', 2, 'DOUBS', 'Doubs', 'Doubs')
('26', 84, '26362', 3, 'DROME', 'Drôme', 'Drôme')
('27', 28, '27229', 5, 'EURE', 'Eure', 'Eure')
('28', 24, '28085', 1, 'EURE ET LOIR', 'Eure-et-Loir', 'Eure-et-Loir')
('29', 53, '29232', 2, 'FINISTERE', 'Finistère', 'Finistère')
('2A', 94, '2A004', 3, 'CORSE DU SUD', 'Corse-du-Sud', 'Corse-du-Sud')
('2B', 94, '2B033', 3, 'HAUTE CORSE', 'Haute-Corse', 'Haute-Corse')
('30', 76, '30189', 2, 'GARD', 'Gard', 'Gard')
('31', 76, '31555', 3, 'HAUTE GARONNE', 'Haute-Garonne', 'Haute-Garonne')
('32', 76, '32013', 2, 'GERS', 'Gers', 'Gers')
('33', 75, '33063', 3, 'GIRONDE', 'Gironde', 'Gironde')
('34', 76, '34172', 5, 'HERAULT', 'Hérault', 'Hérault')
('35', 53, '35238', 1, 'ILLE ET VILAINE', 'Ille-et-Vilaine', 'Ille-et-Vilaine')
('36', 24, '36044', 5, 'INDRE', 'Indre', 'Indre')
('37', 24, '37261', 1, 'INDRE ET LOIRE', 'Indre-et-Loire', 'Indre-et-Loire')
('38', 84, '38185', 5, 'ISERE', 'Isère', 'Isère')
('39', 27, '39300', 2, 'JURA', 'Jura', 'Jura')
('40', 75, '40192', 4, 'LANDES', 'Landes', 'Landes')
('41', 24, '41018', 2, 'LOIR ET CHER', 'Loir-et-Cher', 'Loir-et-Cher')
('42', 84, '42218', 3, 'LOIRE', 'Loire', 'Loire')
('43', 84, '43157', 3, 'HAUTE LOIRE', 'Haute-Loire', 'Haute-Loire')
('44', 52, '44109', 3, 'LOIRE ATLANTIQUE', 'Loire-Atlantique', 'Loire-Atlantique')
('45', 24, '45234', 2, 'LOIRET', 'Loiret', 'Loiret')
('46', 76, '46042', 2, 'LOT', 'Lot', 'Lot')
('47', 75, '47001', 2, 'LOT ET GARONNE', 'Lot-et-Garonne', 'Lot-et-Garonne')
('48', 76, '48095', 3, 'LOZERE', 'Lozère', 'Lozère')
('49', 52, '49007', 2, 'MAINE ET LOIRE', 'Maine-et-Loire', 'Maine-et-Loire')
('50', 28, '50502', 3, 'MANCHE', 'Manche', 'Manche')
('51', 44, '51108', 3, 'MARNE', 'Marne', 'Marne')
('52', 44, '52121', 3, 'HAUTE MARNE', 'Haute-Marne', 'Haute-Marne')
('53', 52, '53130', 3, 'MAYENNE', 'Mayenne', 'Mayenne')
('54', 44, '54395', 0, 'MEURTHE ET MOSELLE', 'Meurthe-et-Moselle', 'Meurthe-et-Moselle')
('55', 44, '55029', 3, 'MEUSE', 'Meuse', 'Meuse')
('56', 53, '56260', 2, 'MORBIHAN', 'Morbihan', 'Morbihan')
('57', 44, '57463', 3, 'MOSELLE', 'Moselle', 'Moselle')
('58', 27, '58194', 3, 'NIEVRE', 'Nièvre', 'Nièvre')
('59', 32, '59350', 2, 'NORD', 'Nord', 'Nord')
('60', 32, '60057', 5, 'OISE', 'Oise', 'Oise')
('61', 28, '61001', 5, 'ORNE', 'Orne', 'Orne')
('62', 32, '62041', 2, 'PAS DE CALAIS', 'Pas-de-Calais', 'Pas-de-Calais')
('63', 84, '63113', 2, 'PUY DE DOME', 'Puy-de-Dôme', 'Puy-de-Dôme')
('64', 75, '64445', 4, 'PYRENEES ATLANTIQUES', 'Pyrénées-Atlantiques', 'Pyrénées-Atlantiques')
('65', 76, '65440', 4, 'HAUTES PYRENEES', 'Hautes-Pyrénées', 'Hautes-Pyrénées')
('66', 76, '66136', 4, 'PYRENEES ORIENTALES', 'Pyrénées-Orientales', 'Pyrénées-Orientales')
('67', 44, '67482', 2, 'BAS RHIN', 'Bas-Rhin', 'Bas-Rhin')
('68', 44, '68066', 2, 'HAUT RHIN', 'Haut-Rhin', 'Haut-Rhin')
('69', 84, '69123', 2, 'RHONE', 'Rhône', 'Rhône')
('70', 27, '70550', 3, 'HAUTE SAONE', 'Haute-Saône', 'Haute-Saône')
('71', 27, '71270', 0, 'SAONE ET LOIRE', 'Saône-et-Loire', 'Saône-et-Loire')
('72', 52, '72181', 3, 'SARTHE', 'Sarthe', 'Sarthe')
('73', 84, '73065', 3, 'SAVOIE', 'Savoie', 'Savoie')
('74', 84, '74010', 3, 'HAUTE SAVOIE', 'Haute-Savoie', 'Haute-Savoie')
('75', 11, '75056', 0, 'PARIS', 'Paris', 'Paris')
('76', 28, '76540', 3, 'SEINE MARITIME', 'Seine-Maritime', 'Seine-Maritime')
('77', 11, '77288', 0, 'SEINE ET MARNE', 'Seine-et-Marne', 'Seine-et-Marne')
('78', 11, '78646', 4, 'YVELINES', 'Yvelines', 'Yvelines')
('79', 75, '79191', 4, 'DEUX SEVRES', 'Deux-Sèvres', 'Deux-Sèvres')
('80', 32, '80021', 3, 'SOMME', 'Somme', 'Somme')
('81', 76, '81004', 2, 'TARN', 'Tarn', 'Tarn')
('82', 76, '82121', 2, 'TARN ET GARONNE', 'Tarn-et-Garonne', 'Tarn-et-Garonne')
('83', 93, '83137', 2, 'VAR', 'Var', 'Var')
('84', 93, '84007', 2, 'VAUCLUSE', 'Vaucluse', 'Vaucluse')
('85', 52, '85191', 3, 'VENDEE', 'Vendée', 'Vendée')
('86', 75, '86194', 3, 'VIENNE', 'Vienne', 'Vienne')
('87', 75, '87085', 3, 'HAUTE VIENNE', 'Haute-Vienne', 'Haute-Vienne')
('88', 44, '88160', 4, 'VOSGES', 'Vosges', 'Vosges')
('89', 27, '89024', 5, 'YONNE', 'Yonne', 'Yonne')
('90', 27, '90010', 2, 'TERRITOIRE DE BELFORT', 'Territoire de Belfort', 'Territoire de Belfort')
('91', 11, '91228', 5, 'ESSONNE', 'Essonne', 'Essonne')
('92', 11, '92050', 4, 'HAUTS DE SEINE', 'Hauts-de-Seine', 'Hauts-de-Seine')
('93', 11, '93008', 3, 'SEINE SAINT DENIS', 'Seine-Saint-Denis', 'Seine-Saint-Denis')
('94', 11, '94028', 2, 'VAL DE MARNE', 'Val-de-Marne', 'Val-de-Marne')
('95', 11, '95500', 2, 'VAL D OISE', "Val-d'Oise", "Val-d'Oise")
('971', 1, '97105', 3, 'GUADELOUPE', 'Guadeloupe', 'Guadeloupe')
('972', 2, '97209', 3, 'MARTINIQUE', 'Martinique', 'Martinique')
('973', 3, '97302', 3, 'GUYANE', 'Guyane', 'Guyane')
('974', 4, '97411', 0, 'LA REUNION', 'La Réunion', 'La Réunion')
('976', 6, '97608', 0, 'MAYOTTE', 'Mayotte', 'Mayotte')

In [50]:
#TODO

[(68, ('ANAS', 4)), (22, ('DAVID', 10)), (91, ('MALIK', 4)), (61, ('ENOLA', 4)), (36, ('LÉA', 29)), (30, ('LÉNA', 22)), (94, ('FRANCK', 7)), (6, ('ISABELLA', 3)), (52, ('MATHEO', 8)), (29, ('NOLAN', 37))]
[(1, ('LINA', 8)), (71, ('ETHAN', 29)), (43, ('JULIA', 7)), (75, ('VALENTIN', 121)), (73, ('BAPTISTE', 18)), (37, ('LOUISE', 56)), (84, ('JULIE', 47)), (19, ('DAMIEN', 8)), (6, ('ZOÉ', 26)), (44, ('LILOU', 97))]
[(38, 'ISERE'), (46, 'LOT'), (94, 'VAL DE MARNE'), (18, 'CHER'), (52, 'HAUTE MARNE'), (14, 'CALVADOS'), (40, 'LANDES'), (3, 'ALLIER'), (37, 'INDRE ET LOIRE'), (85, 'VENDEE')]
('AIN', ('LINA', 8))
('AISNE', ('MATHIS', 55))
('ALLIER', ('SAMY', 3))
('ALPES DE HAUTE PROVENCE', ('SARAH', 6))
('ALPES MARITIMES', ('ZOÉ', 26))
('ARDECHE', ('ELOÏSE', 5))
('ARDENNES', ('JULIE', 33))
('ARIEGE', ('KENZO', 3))
('AUBE', ('MAELYS', 11))
('AUDE', ('SAMUEL', 3))
('AVEYRON', ('JADE', 19))
('BAS RHIN', ('CLARA', 136))
('BOUCHES DU RHONE', ('MATTÉO', 145))
('CALVADOS', ('ENZO', 83))
('CHARENTE', ('FLAVIE', 5))
('CHARENTE MARITIME', ('PAUL', 40))
('CHER', ('NOAH', 10))
('CORREZE', ('DAMIEN', 8))
('COTE D OR', ('LOUIS', 77))
('COTES D ARMOR', ('ALICE', 28))
('DEUX SEVRES', ('MARIUS', 13))
('DORDOGNE', ('LOLA', 20))
('DOUBS', ('SARAH', 41))
('DROME', ('ADÈLE', 14))
('ESSONNE', ('JULES', 50))
('EURE', ('TIMÉO', 19))
('EURE ET LOIR', ('BENJAMIN', 40))
('FINISTERE', ('LÉO', 73))
('GARD', ('LÉNA', 22))
('GERS', ('LINA', 4))
('GIRONDE', ('TOM', 104))
('GUADELOUPE', ('LORENZO', 12))
('GUYANE', ('_PRENOMS_RARES', 1463))
('HAUT RHIN', ('LÉA', 109))
('HAUTE GARONNE', ('GUILHEM', 13))
('HAUTE LOIRE', ('JULIA', 7))
('HAUTE MARNE', ('LÉO', 15))
('HAUTE SAONE', ('LÉO', 14))
('HAUTE SAVOIE', ('MARINE', 31))
('HAUTE VIENNE', ('LÉONIE', 9))
('HAUTES ALPES', ('RÉMY', 4))
('HAUTES PYRENEES', ('LOÏC', 7))
('HAUTS DE SEINE', ('STELLA', 27))
('HERAULT', ('INAYA', 37))
('ILLE ET VILAINE', ('EVAN', 80))
('INDRE', ('LÉA', 29))
('INDRE ET LOIRE', ('LOUISE', 56))
('ISERE', ('CHARLOTTE', 44))
('JURA', ('JULES', 20))
('LA REUNION', ('NOÉMIE', 20))
('LANDES', ('ADRIEN', 10))
('LOIR ET CHER', ('ROSE', 15))
('LOIRE', ('NINA', 17))
('LOIRE ATLANTIQUE', ('LILOU', 97))
('LOIRET', ('ROMANE', 22))
('LOT', ('_PRENOMS_RARES', 13))
('LOT ET GARONNE', ('MAXIME', 23))
('MAINE ET LOIRE', ('CLÉMENT', 42))
('MANCHE', ('LUCIE', 11))
('MARNE', ('_PRENOMS_RARES', 199))
('MARTINIQUE', ('YANN', 16))
('MAYENNE', ('EVA', 17))
('MEURTHE ET MOSELLE', ('ILHAN', 6))
('MEUSE', ('_PRENOMS_RARES', 31))
('MORBIHAN', ('QUENTIN', 37))
('MOSELLE', ('EMMA', 126))
('NIEVRE', ('ALEXANDRE', 12))
('NORD', ('YASMINE', 49))
('OISE', ('CLÉMENT', 8))
('ORNE', ('ENZO', 48))
('PARIS', ('VALENTIN', 121))
('PAS DE CALAIS', ('CAPUCINE', 32))
('PUY DE DOME', ('CAMILLE', 71))
('PYRENEES ATLANTIQUES', ('YANIS', 36))
('PYRENEES ORIENTALES', ('LOUIS', 29))
('RHONE', ('OSCAR', 41))
('SAONE ET LOIRE', ('ETHAN', 29))
('SARTHE', ('EMILIE', 17))
('SAVOIE', ('BAPTISTE', 18))
('SEINE ET MARNE', ('MARGOT', 27))
('SEINE MARITIME', ('CLARA', 106))
('SEINE SAINT DENIS', ('LAURA', 82))
('SOMME', ('APOLLINE', 7))
('TARN', ('ANAÏS', 22))
('TARN ET GARONNE', ('LÉON', 9))
('TERRITOIRE DE BELFORT', ('CORENTIN', 8))
('VAL D OISE', ('_PRENOMS_RARES', 988))
('VAL DE MARNE', ('PAUL', 53))
('VAR', ('ARTHUR', 36))
('VAUCLUSE', ('JULIE', 47))
('VENDEE', ('MARIUS', 13))
('VIENNE', ('HUGO', 42))
('VOSGES', ('_PRENOMS_RARES', 45))
('YONNE', ('LEO', 11))
('YVELINES', ('GABIN', 47))