# Initialisation de Spark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Exemples avec les formats de stockage") \
    .getOrCreate()
sc = spark.sparkContext

23/10/29 15:59:28 WARN Utils: Your hostname, sal9000 resolves to a loopback address: 127.0.1.1; using 192.168.1.201 instead (on interface eno2)
23/10/29 15:59:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/29 15:59:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/29 15:59:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/29 15:59:29 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

# Chargement des données
1. Créer un dataframe pour les prénoms

In [14]:
prenoms = spark.read.load("prenomsParDeptsEtAnnees.parquet")
prenoms.createOrReplaceTempView("prenoms")
prenoms.show()

+----+------------+--------+---+-----+
|sexe|      prenom|effectif|dep|annee|
+----+------------+--------+---+-----+
|   1|    VINCENZO|       8|  6| 2013|
|   1|        YONI|       3|  6| 2013|
|   2|    ISABELLA|       3|  6| 2013|
|   2|       MARAM|       4|  6| 2013|
|   1|       YAZID|       4| 59| 2013|
|   2|    CHAHINEZ|       4| 59| 2013|
|   2|   ELISABETH|      10| 59| 2013|
|   1|     AYMERIC|       7|  6| 1987|
|   1|       ISSAM|       3|  6| 1987|
|   1|     LAMBERT|       3|  6| 1987|
|   1|      BRAYAN|       7| 93| 2000|
|   1|     MATISSE|       3| 93| 2000|
|   1|     RICARDO|       3| 93| 2000|
|   1|     LEANDRO|       8| 92| 2012|
|   1|      MACIRE|       3| 92| 2012|
|   1|      SALMAN|       3| 92| 2012|
|   2|       ANITA|       4| 18| 1967|
|   2|MARIE-HÉLÈNE|       4| 18| 1967|
|   2|     CLAUDIE|       9| 78| 1961|
|   2|  CONCEPTION|       3| 78| 1961|
+----+------------+--------+---+-----+
only showing top 20 rows

1. Faire de même pour les départements

In [16]:
#TODO

+---+---+--------+----+--------------------+--------------------+--------------------+
|dep|reg|cheflieu|tncc|                 ncc|              nccenr|             libelle|
+---+---+--------+----+--------------------+--------------------+--------------------+
| 52| 44|   52121|   3|         HAUTE MARNE|         Haute-Marne|         Haute-Marne|
| 53| 52|   53130|   3|             MAYENNE|             Mayenne|             Mayenne|
| 54| 44|   54395|   0|  MEURTHE ET MOSELLE|  Meurthe-et-Moselle|  Meurthe-et-Moselle|
| 55| 44|   55029|   3|               MEUSE|               Meuse|               Meuse|
| 56| 53|   56260|   2|            MORBIHAN|            Morbihan|            Morbihan|
| 57| 44|   57463|   3|             MOSELLE|             Moselle|             Moselle|
| 58| 27|   58194|   3|              NIEVRE|              Nièvre|              Nièvre|
| 59| 32|   59350|   2|                NORD|                Nord|                Nord|
| 60| 32|   60057|   5|                OISE|                Oise|                Oise|
| 61| 28|   61001|   5|                ORNE|                Orne|                Orne|
| 62| 32|   62041|   2|       PAS DE CALAIS|       Pas-de-Calais|       Pas-de-Calais|
| 63| 84|   63113|   2|         PUY DE DOME|         Puy-de-Dôme|         Puy-de-Dôme|
| 64| 75|   64445|   4|PYRENEES ATLANTIQUES|Pyrénées-Atlantiques|Pyrénées-Atlantiques|
| 65| 76|   65440|   4|     HAUTES PYRENEES|     Hautes-Pyrénées|     Hautes-Pyrénées|
| 66| 76|   66136|   4| PYRENEES ORIENTALES| Pyrénées-Orientales| Pyrénées-Orientales|
| 67| 44|   67482|   2|            BAS RHIN|            Bas-Rhin|            Bas-Rhin|
| 68| 44|   68066|   2|           HAUT RHIN|           Haut-Rhin|           Haut-Rhin|
| 69| 84|   69123|   2|               RHONE|               Rhône|               Rhône|
| 70| 27|   70550|   3|         HAUTE SAONE|         Haute-Saône|         Haute-Saône|
| 71| 27|   71270|   0|      SAONE ET LOIRE|      Saône-et-Loire|      Saône-et-Loire|
+---+---+--------+----+--------------------+--------------------+--------------------+
only showing top 20 rows

# Interroger les données

* La documentation sur Spark SQL est disponible [ici](https://spark.apache.org/docs/latest/sql-programming-guide.html) (de même pour [DataFrame](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.html))
* Pour chaque question, vous donnerez la réponse avec le DSL et en SQL

1. Donner, pour chaque prénom, son nombre d'occurences

## DSL

In [19]:
#TODO

+---------------+-------------+
|         prenom|sum(effectif)|
+---------------+-------------+
|          MARAM|           10|
|         MARTHE|          292|
|        KHADIJA|            8|
|          LEÏLA|           12|
|        ANAMIKA|            3|
|          FANNY|          123|
|         MACIRE|            3|
|      CLAUDETTE|           53|
|       THEODORE|           10|
|        RICARDO|            3|
|         HÉLÈNE|          307|
|       CHAHINEZ|            4|
|          CHRIS|            7|
|          ISSAM|            8|
|       MAELYSSE|            9|
|     CONCEPTION|            3|
|MARIE-FRANÇOISE|           15|
|          ANITA|           13|
|          FATOU|           18|
|  MARIE-THÉRÈSE|           10|
+---------------+-------------+
only showing top 20 rows

## SQL

In [18]:
#TODO

+---------------+-------------+
|         prenom|sum(effectif)|
+---------------+-------------+
|          MARAM|           10|
|         MARTHE|          292|
|        KHADIJA|            8|
|          LEÏLA|           12|
|        ANAMIKA|            3|
|          FANNY|          123|
|         MACIRE|            3|
|      CLAUDETTE|           53|
|       THEODORE|           10|
|        RICARDO|            3|
|         HÉLÈNE|          307|
|       CHAHINEZ|            4|
|          CHRIS|            7|
|          ISSAM|            8|
|       MAELYSSE|            9|
|     CONCEPTION|            3|
|MARIE-FRANÇOISE|           15|
|          ANITA|           13|
|          FATOU|           18|
|  MARIE-THÉRÈSE|           10|
+---------------+-------------+
only showing top 20 rows

1. Donner le nombre total de naissances avec un prénom féminin

## DSL

In [22]:
#TODO

+-------------+
|sum(effectif)|
+-------------+
|        40379|
+-------------+

## SQL

In [20]:
#TODO

+-------------+
|sum(effectif)|
+-------------+
|        40379|
+-------------+

1. Donner l'effectif maximal et minimal par prénom

## DSL

In [29]:
#TODO

+---------------+----------+----------+
|         prenom|min(nbmin)|max(nbmax)|
+---------------+----------+----------+
|          MARAM|         4|         6|
|         MARTHE|         3|       109|
|        KHADIJA|         8|         8|
|          LEÏLA|        12|        12|
|        ANAMIKA|         3|         3|
|          FANNY|         3|        83|
|         MACIRE|         3|         3|
|      CLAUDETTE|         3|        35|
|       THEODORE|         3|         7|
|        RICARDO|         3|         3|
|         HÉLÈNE|        13|        70|
|       CHAHINEZ|         4|         4|
|          CHRIS|         7|         7|
|          ISSAM|         3|         5|
|       MAELYSSE|         3|         6|
|     CONCEPTION|         3|         3|
|MARIE-FRANÇOISE|         3|        12|
|          ANITA|         4|         9|
|          FATOU|         8|        10|
|  MARIE-THÉRÈSE|         3|         4|
+---------------+----------+----------+
only showing top 20 rows

## SQL

In [23]:
#TODO

+---------------+-------------+-------------+
|         prenom|min(effectif)|max(effectif)|
+---------------+-------------+-------------+
|          MARAM|            4|            6|
|         MARTHE|            3|          109|
|        KHADIJA|            8|            8|
|          LEÏLA|           12|           12|
|        ANAMIKA|            3|            3|
|          FANNY|            3|           83|
|         MACIRE|            3|            3|
|      CLAUDETTE|            3|           35|
|       THEODORE|            3|            7|
|        RICARDO|            3|            3|
|         HÉLÈNE|           13|           70|
|       CHAHINEZ|            4|            4|
|          CHRIS|            7|            7|
|          ISSAM|            3|            5|
|       MAELYSSE|            3|            6|
|     CONCEPTION|            3|            3|
|MARIE-FRANÇOISE|            3|           12|
|          ANITA|            4|            9|
|          FATOU|            8|           10|
|  MARIE-THÉRÈSE|            3|            4|
+---------------+-------------+-------------+
only showing top 20 rows

1. Donner, pour chaque nom de département, le nombre moyen de prénoms depuis l'année 2000

## DSL

In [31]:
#TODO

+--------------------+------------------+
|                 ncc|     avg(effectif)|
+--------------------+------------------+
|                 AIN| 4.714285714285714|
|               AISNE| 16.09090909090909|
|              ALLIER|               3.0|
|ALPES DE HAUTE PR...| 4.333333333333333|
|     ALPES MARITIMES|            8.6875|
|             ARDECHE|               3.5|
|            ARDENNES|              17.0|
|              ARIEGE|               3.0|
|                AUBE|              11.0|
|                AUDE|               3.0|
|             AVEYRON|             8.125|
|            BAS RHIN|17.555555555555557|
|    BOUCHES DU RHONE|21.838709677419356|
|            CALVADOS|             23.75|
|            CHARENTE|               4.0|
|   CHARENTE MARITIME|14.666666666666666|
|                CHER|              10.0|
|             CORREZE|               7.0|
|           COTE D OR|12.789473684210526|
|       COTES D ARMOR| 7.230769230769231|
+--------------------+------------------+
only showing top 20 rows

## SQL

In [30]:
#TODO

+--------------------+------------------+
|                 ncc|     avg(effectif)|
+--------------------+------------------+
|                 AIN| 4.714285714285714|
|               AISNE| 16.09090909090909|
|              ALLIER|               3.0|
|ALPES DE HAUTE PR...| 4.333333333333333|
|     ALPES MARITIMES|            8.6875|
|             ARDECHE|               3.5|
|            ARDENNES|              17.0|
|              ARIEGE|               3.0|
|                AUBE|              11.0|
|                AUDE|               3.0|
|             AVEYRON|             8.125|
|            BAS RHIN|17.555555555555557|
|    BOUCHES DU RHONE|21.838709677419356|
|            CALVADOS|             23.75|
|            CHARENTE|               4.0|
|   CHARENTE MARITIME|14.666666666666666|
|                CHER|              10.0|
|             CORREZE|               7.0|
|           COTE D OR|12.789473684210526|
|       COTES D ARMOR| 7.230769230769231|
+--------------------+------------------+
only showing top 20 rows